{
    "openapi": "3.0.1",
    "info": {
        "title": "ClipVision API",
        "description": "ClipVision AI API",
        "termsOfService": "https://www.clipvision.ai/terms/",
        "contact": {
            "email": "help@clipvision.ai"
        },
        "license": {
            "name": "ClipVision License"
        },
        "version": "v1"
    },
    "servers": [{
        "url": "https://cli.clipvision.ai/"
    }],
    "security": [{
        "UserJWTAuth": []
    }],
    "paths": {
        "/api/available_plans/": {
            "get": {
                "tags": [
                    "api"
                ],
                "summary": "Get available plans",
                "operationId": "api_available_plans_list",
                "responses": {
                    "200": {
                        "description": "Successfully retrieved available plans",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Available Plans",
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "subscription_visualizer": {
                                                "type": "string"
                                            },
                                            "subscription_credits": {
                                                "type": "integer"
                                            },
                                            "subscription_price": {
                                                "type": "number"
                                            },
                                            "can_upgrade": {
                                                "type": "boolean"
                                            },
                                            "can_downgrade": {
                                                "type": "boolean"
                                            },
                                            "can_add_credits": {
                                                "type": "boolean"
                                            },
                                            "expired": {
                                                "type": "boolean"
                                            },
                                            "remaining_time": {
                                                "type": "string"
                                            },
                                            "stripe_subscription_id": {
                                                "type": "string"
                                            },
                                            "disabled": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                },
                                "example": [{
                                    "subscription_visualizer": "Default",
                                    "subscription_credits": 0,
                                    "subscription_price": 0,
                                    "can_upgrade": false,
                                    "can_downgrade": false,
                                    "can_add_credits": false,
                                    "expired": true,
                                    "remaining_time": "1mo left",
                                    "stripe_subscription_id": "sub_123",
                                    "disabled": false
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/api/check_plan_expiration/": {
            "get": {
                "tags": [
                    "api"
                ],
                "summary": "Check Plan Expiration API Endpoint",
                "description": "This API endpoint allows a user to check the expiration status of their current plan.\nThe necessary query parameters must be provided.",
                "operationId": "api_check_plan_expiration_list",
                "responses": {
                    "200": {
                        "description": "Successfully checked the plan expiration status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Plan Expiration Status",
                                    "type": "object",
                                    "properties": {
                                        "expired": {
                                            "title": "Expired",
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "expired": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to check the plan expiration status or validation errors",
                        "content": {}
                    }
                }
            }
        },
        "/api/create_analytic/": {
            "post": {
                "tags": [
                    "api"
                ],
                "summary": "Create Analytic API Endpoint",
                "description": "This API endpoint allows a user to create an analytic record.\nThe necessary parameters must be provided in the request payload.",
                "operationId": "api_create_analytic_create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnalyticCreation"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Analytic successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Analytic OpenAPI Schema",
                                    "type": "object",
                                    "properties": {
                                        "analytic_id": {
                                            "type": "integer"
                                        },
                                        "disabled": {
                                            "type": "boolean"
                                        },
                                        "channel_id": {
                                            "type": "integer"
                                        },
                                        "total_views": {
                                            "type": "integer"
                                        },
                                        "total_subs": {
                                            "type": "integer"
                                        },
                                        "add_date": {
                                            "type": "string",
                                            "format": "date"
                                        }
                                    }
                                },
                                "example": {
                                    "analytic_id": 1,
                                    "disabled": false,
                                    "channel_id": 1,
                                    "total_views": 100,
                                    "total_subs": 100,
                                    "add_date": "2024-02-25T00:00:00.000Z"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to create analytic or validation errors",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/api/create_channel/": {
            "post": {
                "tags": [
                    "api"
                ],
                "summary": "Create Channel API Endpoint",
                "description": "This API endpoint allows a user to create a new channel.\nThe necessary parameters must be provided in the request payload.",
                "operationId": "api_create_channel_create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChannelCreation"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successfully created the channel",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Channel OpenAPI Schema",
                                    "type": "object",
                                    "properties": {
                                        "channel_id": {
                                            "type": "integer"
                                        },
                                        "disabled": {
                                            "type": "boolean"
                                        },
                                        "user_id": {
                                            "type": "integer"
                                        },
                                        "channel_country": {
                                            "type": "string"
                                        },
                                        "channel_website": {
                                            "type": "string"
                                        },
                                        "add_date": {
                                            "type": "string",
                                            "format": "date"
                                        },
                                        "channel_content_category": {
                                            "type": "string"
                                        },
                                        "estimated_monthly_earnings": {
                                            "type": "string"
                                        },
                                        "estimated_yearly_earnings": {
                                            "type": "string"
                                        },
                                        "channel_name": {
                                            "type": "string"
                                        },
                                        "channel_url": {
                                            "type": "string"
                                        },
                                        "thumbnail": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "channel_id": 1,
                                    "disabled": false,
                                    "user_id": 1,
                                    "channel_country": "US",
                                    "channel_website": "https://youtube.com",
                                    "add_date": "2024-02-25T00:00:00.000Z",
                                    "channel_content_category": "Gaming",
                                    "estimated_monthly_earnings": "1000",
                                    "estimated_yearly_earnings": "12000",
                                    "channel_name": "PewDiePie",
                                    "channel_url": "https://www.youtube.com/channel/UCi8e0iOVk1fEOogdfu4YgfA",
                                    "thumbnail": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to create the channel or validation errors",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/api/create_font_profile/": {
            "post": {
                "tags": [
                    "api"
                ],
                "summary": "Create Font Profile API Endpoint",
                "description": "This API endpoint allows a user to create a new font profile.\nThe necessary parameters must be provided in the request payload.",
                "operationId": "api_create_font_profile_create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateFontProfile"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successfully created a new font profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Font Profile OpenAPI Schema",
                                    "type": "object",
                                    "properties": {
                                        "font_profile_id": {
                                            "type": "integer"
                                        },
                                        "disabled": {
                                            "type": "boolean"
                                        },
                                        "profile_name": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "path": {
                                            "type": "string"
                                        },
                                        "size": {
                                            "type": "integer"
                                        },
                                        "bold": {
                                            "type": "boolean"
                                        },
                                        "italic": {
                                            "type": "boolean"
                                        },
                                        "underlined": {
                                            "type": "boolean"
                                        },
                                        "strikethrough": {
                                            "type": "boolean"
                                        },
                                        "caption_position": {
                                            "type": "object",
                                            "properties": {
                                                "coordinate_id": {
                                                    "type": "integer"
                                                },
                                                "overlay_visualizer": {
                                                    "type": "string"
                                                },
                                                "x": {
                                                    "type": "string"
                                                },
                                                "y": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "caption_style_color": {
                                            "type": "string"
                                        },
                                        "caption_style_stroke_color": {
                                            "type": "string"
                                        },
                                        "caption_style_stroke_thickness": {
                                            "type": "integer"
                                        },
                                        "caption_shadow_x_pos": {
                                            "type": "integer"
                                        },
                                        "caption_shadow_y_pos": {
                                            "type": "integer"
                                        },
                                        "caption_shadow_color": {
                                            "type": "string"
                                        },
                                        "caption_shadow_blur": {
                                            "type": "integer"
                                        },
                                        "caption_lines": {
                                            "type": "integer"
                                        },
                                        "caption_ai_keyword_highlighter": {
                                            "type": "boolean"
                                        },
                                        "caption_ai_keyword_highlighter_color": {
                                            "type": "string"
                                        },
                                        "caption_highlighter": {
                                            "type": "boolean"
                                        },
                                        "caption_highlighter_color": {
                                            "type": "string"
                                        },
                                        "preview_url": {
                                            "type": "string"
                                        },
                                        "preview_bytes": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "example": {
                                    "font_profile_id": 1,
                                    "disabled": false,
                                    "profile_name": "New Font Profile",
                                    "name": "Poppins",
                                    "path": "Poppins",
                                    "size": 30,
                                    "bold": false,
                                    "italic": false,
                                    "underlined": false,
                                    "strikethrough": false,
                                    "caption_position": {
                                        "coordinate_id": 0,
                                        "overlay_visualizer": "Middle Center",
                                        "x": "(main_w-overlay_w)/2",
                                        "y": "(main_h-overlay_h)/2"
                                    },
                                    "caption_style_color": "#FFFFFF",
                                    "caption_style_stroke_color": "#000000",
                                    "caption_style_stroke_thickness": 2,
                                    "caption_shadow_x_pos": 16,
                                    "caption_shadow_y_pos": 14,
                                    "caption_shadow_color": "#000000",
                                    "caption_shadow_blur": 6,
                                    "caption_lines": 1,
                                    "caption_ai_keyword_highlighter": false,
                                    "caption_ai_keyword_highlighter_color": "#80B8FF",
                                    "caption_highlighter": true,
                                    "caption_highlighter_color": "#FFFF00",
                                    "preview_url": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to create a new font profile or validation errors",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/api/create_input_audio/": {
            "post": {
                "tags": [
                    "api"
                ],
                "summary": "Create Input Audio API Endpoint",
                "description": "This API endpoint allows a user to create a new input audio record.\nThe necessary parameters must be provided in the request payload.",
                "operationId": "api_create_input_audio_create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateInputAudio"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successfully created the input audio",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "audio_id": {
                                            "type": "integer"
                                        },
                                        "disabled": {
                                            "type": "boolean"
                                        },
                                        "download_link": {
                                            "type": "string"
                                        },
                                        "transcription": {
                                            "type": "string"
                                        },
                                        "creation_date": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "audio_id": 1,
                                    "disabled": false,
                                    "download_link": "https://clipvision.ai/download/audio/32abbmssfn.mp3",
                                    "transcription": "{\"text\":\" Bonjour! Est-ce que vous allez bien?\",\"segments\":[{\"id\":0,\"seek\":0,\"start\":0.5,\"end\":1.2,\"text\":\" Bonjour!\",\"tokens\":[25431,2298],\"temperature\":0.0,\"avg_logprob\":-0.6674491882324218,\"compression_ratio\":0.8181818181818182,\"no_speech_prob\":0.10241222381591797,\"confidence\":0.51,\"words\":[{\"text\":\"Bonjour!\",\"start\":0.5,\"end\":1.2,\"confidence\":0.51}]},{\"id\":1,\"seek\":200,\"start\":2.02,\"end\":4.48,\"text\":\" Est-ce que vous allez bien?\",\"tokens\":[50364,4410,12,384,631,2630,18146,3610,2506,50464],\"temperature\":0.0,\"avg_logprob\":-0.43492694334550336,\"compression_ratio\":0.7714285714285715,\"no_speech_prob\":0.06502953916788101,\"confidence\":0.595,\"words\":[{\"text\":\"Est-ce\",\"start\":2.02,\"end\":3.78,\"confidence\":0.441},{\"text\":\"que\",\"start\":3.78,\"end\":3.84,\"confidence\":0.948},{\"text\":\"vous\",\"start\":3.84,\"end\":4.0,\"confidence\":0.935},{\"text\":\"allez\",\"start\":4.0,\"end\":4.14,\"confidence\":0.347},{\"text\":\"bien?\",\"start\":4.14,\"end\":4.48,\"confidence\":0.998}]}],\"language\":\"fr\"}",
                                    "creation_date": "2024-02-25T00:00:00.000Z"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to create the input audio or validation errors",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/api/create_input_video/": {
            "post": {
                "tags": [
                    "api"
                ],
                "summary": "Create Input Video API Endpoint",
                "description": "This API endpoint allows a user to create a new input video.\nThe necessary parameters must be provided in the request payload.",
                "operationId": "api_create_input_video_create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateInputVideo"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successfully created the input video",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "input_video_id": {
                                            "type": "integer"
                                        },
                                        "disabled": {
                                            "type": "boolean"
                                        },
                                        "video_title": {
                                            "type": "string"
                                        },
                                        "download_link": {
                                            "type": "string"
                                        },
                                        "creation_date": {
                                            "type": "string"
                                        },
                                        "preview_url": {
                                            "type": "string"
                                        },
                                        "audio": {
                                            "type": "object",
                                            "properties": {
                                                "audio_id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "download_link": {
                                                    "type": "string"
                                                },
                                                "transcription": {
                                                    "type": "string"
                                                },
                                                "creation_date": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "input_video_id": 1,
                                    "disabled": false,
                                    "video_title": "test_video",
                                    "download_link": "https://clipvision.ai/download/video/am77119gd4.mp4",
                                    "creation_date": "2024-02-25T00:00:00.000Z",
                                    "preview_url": "https://clipvision.ai/preview/video/am77119gd4.mp4",
                                    "audio": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to create the input video or validation errors",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/api/create_media_profile/": {
            "post": {
                "tags": [
                    "api"
                ],
                "summary": "Create Media Profile API Endpoint",
                "description": "This API endpoint allows a user to create a new media profile.\nThe necessary parameters must be provided in the request payload.",
                "operationId": "api_create_media_profile_create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateMediaProfile"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successfully created the media profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "media_profile_id": {
                                            "type": "integer"
                                        },
                                        "disabled": {
                                            "type": "boolean"
                                        },
                                        "profile_name": {
                                            "type": "string"
                                        },
                                        "watermark_path": {
                                            "type": "string"
                                        },
                                        "watermark_position": {
                                            "type": "object",
                                            "properties": {
                                                "coordinate_id": {
                                                    "type": "integer"
                                                },
                                                "overlay_visualizer": {
                                                    "type": "string"
                                                },
                                                "x": {
                                                    "type": "string"
                                                },
                                                "y": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "end_clip_path": {
                                            "type": "string"
                                        },
                                        "preview_url": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "media_profile_id": 1,
                                    "disabled": false,
                                    "profile_name": "New Media Profile",
                                    "watermark_path": null,
                                    "watermark_position": null,
                                    "end_clip_path": null,
                                    "preview_url": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to create the media profile or validation errors",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/api/create_overlay_coordinate/": {
            "post": {
                "tags": [
                    "api"
                ],
                "summary": "Create Overlay Coordinate API Endpoint",
                "description": "This API endpoint allows a user to create a new overlay coordinate.\nThe necessary parameters must be provided in the request payload.",
                "operationId": "api_create_overlay_coordinate_create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOverlayCoordinate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successfully created the overlay coordinate",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "coordinate_id": {
                                            "type": "integer"
                                        },
                                        "overlay_visualizer": {
                                            "type": "string"
                                        },
                                        "x": {
                                            "type": "string"
                                        },
                                        "y": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "coordinate_id": 1,
                                    "overlay_visualizer": "Bottom Right",
                                    "x": "main_w-overlay_w",
                                    "y": "main_h-overlay_h"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to create the overlay coordinate or validation errors",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/api/create_playlist/": {
            "post": {
                "tags": [
                    "api"
                ],
                "summary": "Create Playlist API Endpoint",
                "description": "This API endpoint allows a user to create a new playlist.\nThe necessary parameters must be provided in the request payload.",
                "operationId": "api_create_playlist_create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatePlaylist"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successfully created the playlist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "playlist_id": {
                                            "type": "integer"
                                        },
                                        "disabled": {
                                            "type": "boolean"
                                        },
                                        "playlist_name": {
                                            "type": "string"
                                        },
                                        "font_profile": {
                                            "title": "Font Profile OpenAPI Schema",
                                            "type": "object",
                                            "properties": {
                                                "font_profile_id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "profile_name": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "size": {
                                                    "type": "integer"
                                                },
                                                "bold": {
                                                    "type": "boolean"
                                                },
                                                "italic": {
                                                    "type": "boolean"
                                                },
                                                "underlined": {
                                                    "type": "boolean"
                                                },
                                                "strikethrough": {
                                                    "type": "boolean"
                                                },
                                                "caption_position": {
                                                    "type": "object",
                                                    "properties": {
                                                        "coordinate_id": {
                                                            "type": "integer"
                                                        },
                                                        "overlay_visualizer": {
                                                            "type": "string"
                                                        },
                                                        "x": {
                                                            "type": "string"
                                                        },
                                                        "y": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "caption_style_color": {
                                                    "type": "string"
                                                },
                                                "caption_style_stroke_color": {
                                                    "type": "string"
                                                },
                                                "caption_style_stroke_thickness": {
                                                    "type": "integer"
                                                },
                                                "caption_shadow_x_pos": {
                                                    "type": "integer"
                                                },
                                                "caption_shadow_y_pos": {
                                                    "type": "integer"
                                                },
                                                "caption_shadow_color": {
                                                    "type": "string"
                                                },
                                                "caption_shadow_blur": {
                                                    "type": "integer"
                                                },
                                                "caption_lines": {
                                                    "type": "integer"
                                                },
                                                "caption_ai_keyword_highlighter": {
                                                    "type": "boolean"
                                                },
                                                "caption_ai_keyword_highlighter_color": {
                                                    "type": "string"
                                                },
                                                "caption_highlighter": {
                                                    "type": "boolean"
                                                },
                                                "caption_highlighter_color": {
                                                    "type": "string"
                                                },
                                                "preview_url": {
                                                    "type": "string"
                                                },
                                                "preview_bytes": {
                                                    "type": "string",
                                                    "format": "binary"
                                                }
                                            }
                                        },
                                        "media_profile": {
                                            "type": "object",
                                            "properties": {
                                                "media_profile_id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "profile_name": {
                                                    "type": "string"
                                                },
                                                "watermark_path": {
                                                    "type": "string"
                                                },
                                                "watermark_position": {
                                                    "type": "object",
                                                    "properties": {
                                                        "coordinate_id": {
                                                            "type": "integer"
                                                        },
                                                        "overlay_visualizer": {
                                                            "type": "string"
                                                        },
                                                        "x": {
                                                            "type": "string"
                                                        },
                                                        "y": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "end_clip_path": {
                                                    "type": "string"
                                                },
                                                "preview_url": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "voice_profile": {
                                            "type": "object",
                                            "properties": {
                                                "voice_profile_id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "profile_name": {
                                                    "type": "string"
                                                },
                                                "api_key": {
                                                    "type": "string"
                                                },
                                                "region": {
                                                    "type": "string"
                                                },
                                                "provider": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "content_type": {
                                            "type": "object",
                                            "properties": {
                                                "content_type_id": {
                                                    "type": "integer"
                                                },
                                                "display_name": {
                                                    "type": "string"
                                                },
                                                "model_id": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "preview_image": {
                                                    "type": "string"
                                                },
                                                "preview_video": {
                                                    "type": "string"
                                                },
                                                "active": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "preview_url": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "playlist_id": 1,
                                    "disabled": false,
                                    "playlist_name": "Playlist #1",
                                    "font_profile": {
                                        "font_profile_id": 1,
                                        "disabled": false,
                                        "profile_name": "New Font Profile",
                                        "name": "Poppins",
                                        "path": "Poppins",
                                        "size": 30,
                                        "bold": false,
                                        "italic": false,
                                        "underlined": false,
                                        "strikethrough": false,
                                        "caption_position": {
                                            "coordinate_id": 0,
                                            "overlay_visualizer": "Middle Center",
                                            "x": "(main_w-overlay_w)/2",
                                            "y": "(main_h-overlay_h)/2"
                                        },
                                        "caption_style_color": "#FFFFFF",
                                        "caption_style_stroke_color": "#000000",
                                        "caption_style_stroke_thickness": 2,
                                        "caption_shadow_x_pos": 16,
                                        "caption_shadow_y_pos": 14,
                                        "caption_shadow_color": "#000000",
                                        "caption_shadow_blur": 6,
                                        "caption_lines": 1,
                                        "caption_ai_keyword_highlighter": false,
                                        "caption_ai_keyword_highlighter_color": "#80B8FF",
                                        "caption_highlighter": true,
                                        "caption_highlighter_color": "#FFFF00",
                                        "preview_url": null
                                    },
                                    "media_profile": {
                                        "media_profile_id": 1,
                                        "disabled": false,
                                        "profile_name": "New Media Profile",
                                        "watermark_path": null,
                                        "watermark_position": null,
                                        "end_clip_path": null,
                                        "preview_url": null
                                    },
                                    "voice_profile": {
                                        "voice_profile_id": 1,
                                        "disabled": false,
                                        "profile_name": "New Voice Profile",
                                        "api_key": "api_key",
                                        "region": "westus2",
                                        "provider": "ElevenLabs"
                                    },
                                    "content_type": {
                                        "content_type_id": 1,
                                        "display_name": "Default Model (DM)",
                                        "model_id": "dm-1.0",
                                        "description": "Default model for video creation.",
                                        "preview_image": "",
                                        "preview_video": "",
                                        "active": true
                                    },
                                    "preview_url": ""
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to create the playlist or validation errors",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/api/create_setting/": {
            "post": {
                "tags": [
                    "api"
                ],
                "summary": "Create Setting API Endpoint",
                "description": "This API endpoint allows a user to create a new setting.\nThe necessary parameters must be provided in the request payload.",
                "operationId": "api_create_setting_create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateSetting"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successfully created the setting",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "plan": {
                                            "type": "object",
                                            "properties": {
                                                "subscription_visualizer": {
                                                    "type": "string"
                                                },
                                                "subscription_credits": {
                                                    "type": "integer"
                                                },
                                                "subscription_price": {
                                                    "type": "number"
                                                },
                                                "can_upgrade": {
                                                    "type": "boolean"
                                                },
                                                "can_downgrade": {
                                                    "type": "boolean"
                                                },
                                                "can_add_credits": {
                                                    "type": "boolean"
                                                },
                                                "expired": {
                                                    "type": "boolean"
                                                },
                                                "remaining_time": {
                                                    "type": "string"
                                                },
                                                "stripe_subscription_id": {
                                                    "type": "string"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "credits": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "disabled": {
                                                        "type": "boolean"
                                                    },
                                                    "value": {
                                                        "type": "number"
                                                    },
                                                    "creation_date": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "expiration_date": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "expired": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "email_address": {
                                            "type": "string"
                                        },
                                        "secret_key": {
                                            "type": "string"
                                        },
                                        "azure_data": {
                                            "type": "object",
                                            "properties": {
                                                "api_key": {
                                                    "type": "string"
                                                },
                                                "region": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "elevenlabs_api_key": {
                                            "type": "string"
                                        },
                                        "discord_webhook": {
                                            "type": "string"
                                        },
                                        "last_added": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "value": {
                                                    "type": "number"
                                                },
                                                "creation_date": {
                                                    "type": "string",
                                                    "format": "date"
                                                },
                                                "expiration_date": {
                                                    "type": "string",
                                                    "format": "date"
                                                },
                                                "expired": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "plan": {
                                        "subscription_visualizer": "Default",
                                        "subscription_credits": 0,
                                        "subscription_price": 0,
                                        "can_upgrade": false,
                                        "can_downgrade": false,
                                        "can_add_credits": false,
                                        "expired": true,
                                        "remaining_time": "1mo left",
                                        "stripe_subscription_id": "sub_123",
                                        "disabled": false
                                    },
                                    "credits": [{
                                        "id": 1,
                                        "disabled": false,
                                        "value": 100,
                                        "creation_date": "2021-01-01T00:00:00.000Z",
                                        "expiration_date": "2021-03-01T00:00:00.000Z",
                                        "expired": true
                                    }],
                                    "email_address": "test@email.com",
                                    "secret_key": "testSecretKey",
                                    "azure_data": {
                                        "api_key": "",
                                        "region": "eastus"
                                    },
                                    "elevenlabs_api_key": "",
                                    "discord_webhook": "https://discord.com/webhooks/ClipVision",
                                    "last_added": {
                                        "id": 1,
                                        "disabled": false,
                                        "value": 100,
                                        "creation_date": "2021-01-01T00:00:00.000Z",
                                        "expiration_date": "2021-03-01T00:00:00.000Z",
                                        "expired": true
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to create the setting or validation errors",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/api/create_task/": {
            "post": {
                "tags": [
                    "api"
                ],
                "summary": "Create Task API Endpoint",
                "description": "This API endpoint allows the creation of a new task.\nThe task_name, user_id, and task_status must be provided in the request payload.",
                "operationId": "api_create_task_create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTask"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully created the task",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "task_id": {
                                            "type": "integer"
                                        },
                                        "task_name": {
                                            "type": "string"
                                        },
                                        "task_status": {
                                            "type": "integer"
                                        },
                                        "user_id": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "example": {
                                    "task_id": 1,
                                    "task_name": "test_task",
                                    "task_status": 1,
                                    "user_id": 1
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed to create the task or validation errors",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/api/create_video/": {
            "post": {
                "tags": [
                    "api"
                ],
                "summary": "Create Video API Endpoint",
                "description": "This API endpoint allows a user to create a new video.\nThe necessary parameters must be provided in the request payload.",
                "operationId": "api_create_video_create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateVideo"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successfully created the video",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "video_id": {
                                            "type": "integer"
                                        },
                                        "disabled": {
                                            "type": "boolean"
                                        },
                                        "video_title": {
                                            "type": "string"
                                        },
                                        "video_description": {
                                            "type": "string"
                                        },
                                        "elapsed_gen_time": {
                                            "type": "integer"
                                        },
                                        "credits_cost": {
                                            "type": "number"
                                        },
                                        "resolution": {
                                            "type": "string"
                                        },
                                        "creation_date": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "original_input_script": {
                                            "type": "string"
                                        },
                                        "download_link": {
                                            "type": "string"
                                        },
                                        "preview_url": {
                                            "type": "string"
                                        },
                                        "content_type": {
                                            "type": "object",
                                            "properties": {
                                                "content_type_id": {
                                                    "type": "integer"
                                                },
                                                "display_name": {
                                                    "type": "string"
                                                },
                                                "model_id": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "preview_image": {
                                                    "type": "string"
                                                },
                                                "preview_video": {
                                                    "type": "string"
                                                },
                                                "active": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "input_video": {
                                            "type": "object",
                                            "properties": {
                                                "input_video_id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "video_title": {
                                                    "type": "string"
                                                },
                                                "download_link": {
                                                    "type": "string"
                                                },
                                                "creation_date": {
                                                    "type": "string"
                                                },
                                                "preview_url": {
                                                    "type": "string"
                                                },
                                                "audio": {
                                                    "type": "object",
                                                    "properties": {
                                                        "audio_id": {
                                                            "type": "integer"
                                                        },
                                                        "disabled": {
                                                            "type": "boolean"
                                                        },
                                                        "download_link": {
                                                            "type": "string"
                                                        },
                                                        "transcription": {
                                                            "type": "string"
                                                        },
                                                        "creation_date": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "input_music": {
                                            "type": "object",
                                            "properties": {
                                                "audio_id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "download_link": {
                                                    "type": "string"
                                                },
                                                "transcription": {
                                                    "type": "string"
                                                },
                                                "creation_date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "input_voice": {
                                            "type": "object",
                                            "properties": {
                                                "audio_id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "download_link": {
                                                    "type": "string"
                                                },
                                                "transcription": {
                                                    "type": "string"
                                                },
                                                "creation_date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "font_profile": {
                                            "title": "Font Profile OpenAPI Schema",
                                            "type": "object",
                                            "properties": {
                                                "font_profile_id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "profile_name": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "size": {
                                                    "type": "integer"
                                                },
                                                "bold": {
                                                    "type": "boolean"
                                                },
                                                "italic": {
                                                    "type": "boolean"
                                                },
                                                "underlined": {
                                                    "type": "boolean"
                                                },
                                                "strikethrough": {
                                                    "type": "boolean"
                                                },
                                                "caption_position": {
                                                    "type": "object",
                                                    "properties": {
                                                        "coordinate_id": {
                                                            "type": "integer"
                                                        },
                                                        "overlay_visualizer": {
                                                            "type": "string"
                                                        },
                                                        "x": {
                                                            "type": "string"
                                                        },
                                                        "y": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "caption_style_color": {
                                                    "type": "string"
                                                },
                                                "caption_style_stroke_color": {
                                                    "type": "string"
                                                },
                                                "caption_style_stroke_thickness": {
                                                    "type": "integer"
                                                },
                                                "caption_shadow_x_pos": {
                                                    "type": "integer"
                                                },
                                                "caption_shadow_y_pos": {
                                                    "type": "integer"
                                                },
                                                "caption_shadow_color": {
                                                    "type": "string"
                                                },
                                                "caption_shadow_blur": {
                                                    "type": "integer"
                                                },
                                                "caption_lines": {
                                                    "type": "integer"
                                                },
                                                "caption_ai_keyword_highlighter": {
                                                    "type": "boolean"
                                                },
                                                "caption_ai_keyword_highlighter_color": {
                                                    "type": "string"
                                                },
                                                "caption_highlighter": {
                                                    "type": "boolean"
                                                },
                                                "caption_highlighter_color": {
                                                    "type": "string"
                                                },
                                                "preview_url": {
                                                    "type": "string"
                                                },
                                                "preview_bytes": {
                                                    "type": "string",
                                                    "format": "binary"
                                                }
                                            }
                                        },
                                        "media_profile": {
                                            "type": "object",
                                            "properties": {
                                                "media_profile_id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "profile_name": {
                                                    "type": "string"
                                                },
                                                "watermark_path": {
                                                    "type": "string"
                                                },
                                                "watermark_position": {
                                                    "type": "object",
                                                    "properties": {
                                                        "coordinate_id": {
                                                            "type": "integer"
                                                        },
                                                        "overlay_visualizer": {
                                                            "type": "string"
                                                        },
                                                        "x": {
                                                            "type": "string"
                                                        },
                                                        "y": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "end_clip_path": {
                                                    "type": "string"
                                                },
                                                "preview_url": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "voice_profile": {
                                            "type": "object",
                                            "properties": {
                                                "voice_profile_id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "profile_name": {
                                                    "type": "string"
                                                },
                                                "api_key": {
                                                    "type": "string"
                                                },
                                                "region": {
                                                    "type": "string"
                                                },
                                                "provider": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "template": {
                                            "type": "object",
                                            "properties": {
                                                "template_id": {
                                                    "type": "integer"
                                                },
                                                "template_name": {
                                                    "type": "string"
                                                },
                                                "template_preview": {
                                                    "type": "string"
                                                },
                                                "template_description": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "playlist": {
                                            "type": "object",
                                            "properties": {
                                                "playlist_id": {
                                                    "type": "integer"
                                                },
                                                "disabled": {
                                                    "type": "boolean"
                                                },
                                                "playlist_name": {
                                                    "type": "string"
                                                },
                                                "font_profile": {
                                                    "title": "Font Profile OpenAPI Schema",
                                                    "type": "object",
                                                    "properties": {
                                                        "font_profile_id": {
                                                            "type": "integer"
                                                        },
                                                        "disabled": {
                                                            "type": "boolean"
                                                        },
                                                        "profile_name": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "path": {
                                                            "type": "string"
                                                        },
                                                        "size": {
                                                            "type": "integer"
                                                        },
                                                        "bold": {
                                                            "type": "boolean"
                                                        },
                                                        "italic": {
                                                            "type": "boolean"
                                                        },
                                                        "underlined": {
                                                            "type": "boolean"
                                                        },
                                                        "strikethrough": {
                                                            "type": "boolean"
                                                        },
                                                        "caption_position": {
                                                            "type": "object",
                                                            "properties": {
                                                                "coordinate_id": {
                                                                    "type": "integer"
                                                                },
                                                                "overlay_visualizer": {
                                                                    "type": "string"
                                                                },
                                                                "x": {
                                                                    "type": "string"
                                                                },
                                                                "y": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "caption_style_color": {
                                                            "type": "string"
                                                        },
                                                        "caption_style_stroke_color": {
                                                            "type": "string"
                                                        },
                                                        "caption_style_stroke_thickness": {
                                                            "type": "integer"
                                                        },
                                                        "caption_shadow_x_pos": {
                                                            "type": "integer"
                                                        },
                                                        "caption_shadow_y_pos": {
                                                            "type": "integer"
                                                        },
                                                        "caption_shadow_color": {
                                                            "type": "string"
                                                        },
                                                        "caption_shadow_blur": {
                                                            "type": "integer"
                                                        },
                                                        "caption_lines": {
                                                            "type": "integer"
                                                        },
                                                        "caption_ai_keyword_highlighter": {
                                                            "type": "boolean"
                                                        },
                                                        "caption_ai_keyword_highlighter_color": {
                                                            "type": "string"
                                                        },
                                                        "caption_highlighter": {
                                                            "type": "boolean"
                                                        },
                                                        "caption_highlighter_color": {
                                                            "type": "string"
                                                        },
                                                        "preview_url": {
                                                            "type": "string"
                                                        },
                                                        "preview_bytes": {
                                                            "type": "string",
                                                            "format": "binary"
                                                        }
                                                    }
                                                },
                                                "media_profile": {
                                                    "type": "object",
                                                    "properties": {
                                                        "media_profile_id": {
                                                            "type": "integer"
                                                        },
                                                        "disabled": {
                                                            "type": "boolean"
                                                        },
                                                        "profile_name": {
                                                            "type": "string"
                                                        },
                                                        "watermark_path": {
                                                            "type": "string"
                                                        },
                                                        "watermark_position": {
                                                            "type": "object",
                                                            "properties": {
                                                                "coordinate_id": {
                                                                    "type": "integer"
                                                                },
                                                                "overlay_visualizer": {
                                                                    "type": "string"
                                                                },
                                                                "x": {
                                                                    "type": "string"
                                                                },
                                                                "y": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "end_clip_path": {
                                                            "type": "string"
                                                        },
                                                        "preview_url": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "voice_profile": {
                                                    "type": "object",
                                                    "properties": {
                                                        "voice_profile_id": {
                                                            "type": "integer"
                                                        },
                                                        "disabled": {
                                                            "type": "boolean"
                                                        },
                                                        "profile_name": {
                                                            "type": "string"
                                                        },
                                                        "api_key": {
                                                            "type": "string"
[...]
