{
    "swagger": "2.0",
    "info": {
        "title": "ClipVision API",
        "description": "ClipVision AI API",
        "termsOfService": "https://www.clipvision.ai/terms/",
        "contact": {
            "email": "help@clipvision.ai"
        },
        "license": {
            "name": "ClipVision License"
        },
        "version": "v1"
    },
    "host": "cli.clipvision.ai",
    "schemes": [
        "http"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "Basic": {
            "type": "basic"
        }
    },
    "security": [{
        "Basic": []
    }],
    "paths": {
        "/api/available_plans/": {
            "get": {
                "operationId": "api_available_plans_list",
                "description": "Get available plans",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved supported Plans"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/check_plan_expiration/": {
            "get": {
                "operationId": "api_check_plan_expiration_list",
                "summary": "Check Plan Expiration API Endpoint",
                "description": "This API endpoint allows a user to check the expiration status of their current plan.\nThe necessary query parameters must be provided.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully checked the plan expiration status"
                    },
                    "400": {
                        "description": "Failed to check the plan expiration status or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_analytic/": {
            "post": {
                "operationId": "api_create_analytic_create",
                "summary": "Create Analytic API Endpoint",
                "description": "This API endpoint allows a user to create an analytic record.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/AnalyticCreation"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Analytic successfully created"
                    },
                    "400": {
                        "description": "Failed to create analytic or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_channel/": {
            "post": {
                "operationId": "api_create_channel_create",
                "summary": "Create Channel API Endpoint",
                "description": "This API endpoint allows a user to create a new channel.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ChannelCreation"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created the channel"
                    },
                    "400": {
                        "description": "Failed to create the channel or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_content_type/": {
            "post": {
                "operationId": "api_create_content_type_create",
                "summary": "Create Content Type API Endpoint",
                "description": "This API endpoint allows a user to create a new content type.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ContentTypeCreation"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created the content type"
                    },
                    "400": {
                        "description": "Failed to create the content type or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_font_profile/": {
            "post": {
                "operationId": "api_create_font_profile_create",
                "summary": "Create Font Profile API Endpoint",
                "description": "This API endpoint allows a user to create a new font profile.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateFontProfile"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created a new font profile"
                    },
                    "400": {
                        "description": "Failed to create a new font profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_input_audio/": {
            "post": {
                "operationId": "api_create_input_audio_create",
                "summary": "Create Input Audio API Endpoint",
                "description": "This API endpoint allows a user to create a new input audio record.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateInputAudio"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created the input audio"
                    },
                    "400": {
                        "description": "Failed to create the input audio or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_input_video/": {
            "post": {
                "operationId": "api_create_input_video_create",
                "summary": "Create Input Video API Endpoint",
                "description": "This API endpoint allows a user to create a new input video.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateInputVideo"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created the input video"
                    },
                    "400": {
                        "description": "Failed to create the input video or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_media_profile/": {
            "post": {
                "operationId": "api_create_media_profile_create",
                "summary": "Create Media Profile API Endpoint",
                "description": "This API endpoint allows a user to create a new media profile.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateMediaProfile"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created the media profile"
                    },
                    "400": {
                        "description": "Failed to create the media profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_overlay_coordinate/": {
            "post": {
                "operationId": "api_create_overlay_coordinate_create",
                "summary": "Create Overlay Coordinate API Endpoint",
                "description": "This API endpoint allows a user to create a new overlay coordinate.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateOverlayCoordinate"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created the overlay coordinate"
                    },
                    "400": {
                        "description": "Failed to create the overlay coordinate or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_plan_flow/": {
            "post": {
                "operationId": "api_create_plan_flow_create",
                "summary": "Create Plan API Endpoint",
                "description": "This API endpoint allows a user to create a new plan.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreatePlan"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created the user plan"
                    },
                    "400": {
                        "description": "Failed to create the user plan or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_playlist/": {
            "post": {
                "operationId": "api_create_playlist_create",
                "summary": "Create Playlist API Endpoint",
                "description": "This API endpoint allows a user to create a new playlist.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreatePlaylist"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created the playlist"
                    },
                    "400": {
                        "description": "Failed to create the playlist or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_setting/": {
            "post": {
                "operationId": "api_create_setting_create",
                "summary": "Create Setting API Endpoint",
                "description": "This API endpoint allows a user to create a new setting.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateSetting"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created the setting"
                    },
                    "400": {
                        "description": "Failed to create the setting or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_task/": {
            "post": {
                "operationId": "api_create_task_create",
                "summary": "Create Task API Endpoint",
                "description": "This API endpoint allows the creation of a new task.\nThe task_name, user_id, and task_status must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateTask"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully created the task"
                    },
                    "400": {
                        "description": "Failed to create the task or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_video/": {
            "post": {
                "operationId": "api_create_video_create",
                "summary": "Create Video API Endpoint",
                "description": "This API endpoint allows a user to create a new video.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateVideo"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created the video"
                    },
                    "400": {
                        "description": "Failed to create the video or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_video_with_options/": {
            "post": {
                "operationId": "api_create_video_with_options_create",
                "summary": "Create Video with Options API Endpoint",
                "description": "This API endpoint allows a user to create a video with various options.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateVideoWithOptions"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully created the video"
                    },
                    "400": {
                        "description": "Failed to create the video or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/create_voice_profile/": {
            "post": {
                "operationId": "api_create_voice_profile_create",
                "summary": "Create Voice Profile API Endpoint",
                "description": "This API endpoint allows a user to create a new voice profile.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateVoiceProfile"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully created the voice profile"
                    },
                    "400": {
                        "description": "Failed to create the voice profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/credits_history/": {
            "get": {
                "operationId": "api_credits_history_list",
                "description": "Get credits user history",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved credits history"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/credits_history_report/": {
            "get": {
                "operationId": "api_credits_history_report_list",
                "description": "Get credits user history",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved credits history report"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/default_resolution/": {
            "get": {
                "operationId": "api_default_resolution_list",
                "description": "Get default resolution",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved default resolution"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/delete_channel/": {
            "delete": {
                "operationId": "api_delete_channel_delete",
                "summary": "Delete Channel API Endpoint",
                "description": "This API endpoint allows a user to delete an existing channel.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ChannelView"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the channel"
                    },
                    "400": {
                        "description": "Failed to delete the channel or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/delete_font_profile/": {
            "delete": {
                "operationId": "api_delete_font_profile_delete",
                "summary": "Delete Font Profile API Endpoint",
                "description": "This API endpoint allows a user to delete an existing font profile.\nThe necessary parameters must be provided in the request query params.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DeleteFontProfile"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the font profile"
                    },
                    "400": {
                        "description": "Failed to delete the font profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/delete_media_profile/": {
            "delete": {
                "operationId": "api_delete_media_profile_delete",
                "summary": "Delete Media Profile API Endpoint",
                "description": "This API endpoint allows a user to delete an existing media profile.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DeleteMediaProfile"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the media profile"
                    },
                    "400": {
                        "description": "Failed to delete the media profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/delete_playlist/": {
            "delete": {
                "operationId": "api_delete_playlist_delete",
                "summary": "Delete Playlist API Endpoint",
                "description": "This API endpoint allows a user to delete an existing playlist.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DeletePlaylist"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the playlist"
                    },
                    "400": {
                        "description": "Failed to delete the playlist or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/download_video/": {
            "post": {
                "operationId": "api_download_video_create",
                "summary": "Download Video with Options API Endpoint",
                "description": "This API endpoint allows a user to download a video with various options.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DownloadVideo"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully downloaded the video"
                    },
                    "400": {
                        "description": "Failed to download the video or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/edit_analytic/": {
            "put": {
                "operationId": "api_edit_analytic_update",
                "summary": "Edit Analytic API Endpoint",
                "description": "This API endpoint allows a user to edit an existing analytic record.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/AnalyticEdit"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Analytic successfully edited"
                    },
                    "400": {
                        "description": "Failed to edit analytic or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/edit_channel/": {
            "put": {
                "operationId": "api_edit_channel_update",
                "summary": "Edit Channel API Endpoint",
                "description": "This API endpoint allows a user to edit an existing channel.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ChannelEdit"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully edited the channel"
                    },
                    "400": {
                        "description": "Failed to edit the channel or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/edit_content_type/": {
            "put": {
                "operationId": "api_edit_content_type_update",
                "summary": "Edit Content Type API Endpoint",
                "description": "This API endpoint allows a user to edit an existing content type.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ContentTypeEdit"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully edited the content type"
                    },
                    "400": {
                        "description": "Failed to edit the content type or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/edit_font_profile/": {
            "put": {
                "operationId": "api_edit_font_profile_update",
                "summary": "Edit Font Profile API Endpoint",
                "description": "This API endpoint allows a user to edit an existing font profile.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/EditFontProfile"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully edited the font profile"
                    },
                    "400": {
                        "description": "Failed to edit the font profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/edit_media_profile/": {
            "put": {
                "operationId": "api_edit_media_profile_update",
                "summary": "Edit Media Profile API Endpoint",
                "description": "This API endpoint allows a user to edit an existing media profile.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/EditMediaProfile"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully edited the media profile"
                    },
                    "400": {
                        "description": "Failed to edit the media profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/edit_overlay_coordinate/": {
            "put": {
                "operationId": "api_edit_overlay_coordinate_update",
                "summary": "Edit Overlay Coordinate API Endpoint",
                "description": "This API endpoint allows a user to edit an existing overlay coordinate.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/EditOverlayCoordinate"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully edited the overlay coordinate"
                    },
                    "400": {
                        "description": "Failed to edit the overlay coordinate or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/edit_playlist/": {
            "put": {
                "operationId": "api_edit_playlist_update",
                "summary": "Edit Playlist API Endpoint",
                "description": "This API endpoint allows a user to edit an existing playlist.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/EditPlaylist"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully edited the playlist"
                    },
                    "400": {
                        "description": "Failed to edit the playlist or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/edit_setting/": {
            "put": {
                "operationId": "api_edit_setting_update",
                "summary": "Edit Setting API Endpoint",
                "description": "This API endpoint allows a user to edit an existing setting.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/EditSetting"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully edited the setting"
                    },
                    "400": {
                        "description": "Failed to edit the setting or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/edit_voice_profile/": {
            "put": {
                "operationId": "api_edit_voice_profile_update",
                "summary": "Edit Voice Profile API Endpoint",
                "description": "This API endpoint allows a user to edit an existing voice profile.\nThe necessary parameters must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/EditVoiceProfile"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully edited the voice profile"
                    },
                    "400": {
                        "description": "Failed to edit the voice profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_font_profile/": {
            "get": {
                "operationId": "api_get_font_profile_list",
                "summary": "Get Font Profile API Endpoint",
                "description": "This API endpoint allows a user to retrieve a specific font profile.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [{
                        "name": "font_profile_id",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "preview",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the font profile"
                    },
                    "400": {
                        "description": "Failed to retrieve the font profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_input_audio/": {
            "get": {
                "operationId": "api_get_input_audio_list",
                "summary": "Get Input Audio API Endpoint",
                "description": "This API endpoint allows a user to retrieve an existing input audio record.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [{
                    "name": "input_audio_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the input audio"
                    },
                    "400": {
                        "description": "Failed to retrieve the input audio or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_input_video/": {
            "get": {
                "operationId": "api_get_input_video_list",
                "summary": "Get Input Video API Endpoint",
                "description": "This API endpoint allows a user to retrieve an existing input video.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [{
                    "name": "input_video_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the input video"
                    },
                    "400": {
                        "description": "Failed to retrieve the input video or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_media_profile/": {
            "get": {
                "operationId": "api_get_media_profile_list",
                "summary": "Get Media Profile API Endpoint",
                "description": "This API endpoint allows a user to retrieve a media profile.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [{
                    "name": "media_profile_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the media profile"
                    },
                    "400": {
                        "description": "Failed to retrieve the media profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_overlay_coordinate/": {
            "get": {
                "operationId": "api_get_overlay_coordinate_list",
                "summary": "Get Overlay Coordinate API Endpoint",
                "description": "This API endpoint allows a user to retrieve an existing overlay coordinate.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the overlay coordinate"
                    },
                    "400": {
                        "description": "Failed to retrieve the overlay coordinate or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_playlist/": {
            "get": {
                "operationId": "api_get_playlist_list",
                "summary": "Get Playlist API Endpoint",
                "description": "This API endpoint allows a user to retrieve details of an existing playlist.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [{
                    "name": "playlist_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the playlist"
                    },
                    "400": {
                        "description": "Failed to retrieve the playlist or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_task/": {
            "get": {
                "operationId": "api_get_task_list",
                "summary": "Get Task API Endpoint",
                "description": "This API endpoint allows retrieval of a specific task using its ID.\nThe task_id must be provided in the request payload.",
                "parameters": [{
                    "name": "task_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the task"
                    },
                    "400": {
                        "description": "Failed to retrieve the task or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_template/": {
            "get": {
                "operationId": "api_get_template_list",
                "summary": "Get Template API Endpoint",
                "description": "This API endpoint allows a user to retrieve an existing template.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the template"
                    },
                    "400": {
                        "description": "Failed to retrieve the template or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_user_data/": {
            "get": {
                "operationId": "api_get_user_data_list",
                "summary": "Get User Data API Endpoint",
                "description": "This API endpoint allows a user to retrieve their data.\nThe necessary parameters (either user_id, email_address, or secret_key) must be provided in the query parameters.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved user data"
                    },
                    "400": {
                        "description": "Failed to retrieve user data or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_user_font_profiles/": {
            "get": {
                "operationId": "api_get_user_font_profiles_list",
                "summary": "Get User Font Profiles API Endpoint",
                "description": "This API endpoint allows a user to retrieve all font profiles associated with their account.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [{
                    "name": "preview",
                    "in": "query",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the user's font profiles"
                    },
                    "400": {
                        "description": "Failed to retrieve the user's font profiles or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_user_input_videos/": {
            "get": {
                "operationId": "api_get_user_input_videos_list",
                "summary": "Get Input Video API Endpoint",
                "description": "This API endpoint allows a user to retrieve their relatives input videos.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the input videos"
                    },
                    "400": {
                        "description": "Failed to retrieve the input video or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_user_media_profiles/": {
            "get": {
                "operationId": "api_get_user_media_profiles_list",
                "summary": "Get User Media Profiles API Endpoint",
                "description": "This API endpoint allows a user to retrieve all their media profiles.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved user media profiles"
                    },
                    "400": {
                        "description": "Failed to retrieve user media profiles or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_user_playlists/": {
            "get": {
                "operationId": "api_get_user_playlists_list",
                "summary": "Get User Playlists API Endpoint",
                "description": "This API endpoint allows a user to retrieve a list of their existing playlists.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the playlists for the user"
                    },
                    "400": {
                        "description": "Failed to retrieve the playlists or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_user_settings/": {
            "get": {
                "operationId": "api_get_user_settings_list",
                "summary": "Get User Settings API Endpoint",
                "description": "This API endpoint allows a user to retrieve all their settings.\nThe necessary parameters must be provided in the request query params.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved user settings"
                    },
                    "400": {
                        "description": "Failed to retrieve user settings or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_user_tasks/": {
            "get": {
                "operationId": "api_get_user_tasks_list",
                "summary": "Get User Tasks API Endpoint",
                "description": "This API endpoint allows retrieval of all tasks associated with a specific user.\nThe user_id must be provided in the request payload.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the user tasks"
                    },
                    "400": {
                        "description": "Failed to retrieve the tasks or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_user_tasks_with_status/": {
            "get": {
                "operationId": "api_get_user_tasks_with_status_list",
                "summary": "Get User Tasks With Status API Endpoint",
                "description": "This API endpoint allows retrieval of all tasks associated with a user filtered by a specific status.\nBoth user_id and task_status must be provided in the request payload.",
                "parameters": [{
                    "name": "task_status",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the user tasks with status"
                    },
                    "400": {
                        "description": "Failed to retrieve the tasks or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_user_videos/": {
            "get": {
                "operationId": "api_get_user_videos_list",
                "summary": "Get User Videos API Endpoint",
                "description": "This API endpoint allows a user to retrieve all videos associated with their account.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the user videos"
                    },
                    "400": {
                        "description": "Failed to retrieve the user videos or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_user_voice_profiles/": {
            "get": {
                "operationId": "api_get_user_voice_profiles_list",
                "summary": "Get User Voice Profiles API Endpoint",
                "description": "This API endpoint allows a user to retrieve all their voice profiles.\nThe necessary query parameters must be provided.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved user voice profiles"
                    },
                    "400": {
                        "description": "Failed to retrieve user voice profiles or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_video/": {
            "get": {
                "operationId": "api_get_video_list",
                "summary": "Get Video API Endpoint",
                "description": "This API endpoint allows a user to retrieve an existing video by its ID.\nThe necessary parameters must be provided in the request query parameters.",
                "parameters": [{
                    "name": "video_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the video"
                    },
                    "400": {
                        "description": "Failed to retrieve the video or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/get_voice_profile/": {
            "get": {
                "operationId": "api_get_voice_profile_list",
                "summary": "Get Voice Profile API Endpoint",
                "description": "This API endpoint allows a user to retrieve an existing voice profile.\nThe necessary parameters must be provided in the query parameters.",
                "parameters": [{
                    "name": "voice_profile_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the voice profile"
                    },
                    "400": {
                        "description": "Failed to retrieve the voice profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/login_user/": {
            "post": {
                "operationId": "api_login_user_create",
                "summary": "Login User API Endpoint",
                "description": "This API endpoint allows a user to authenticate themselves.\nThe necessary parameters (email_address and password) must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/LoginUser"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully logged in"
                    },
                    "400": {
                        "description": "Failed to login or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/preview_font_profile/": {
            "get": {
                "operationId": "api_preview_font_profile_list",
                "summary": "Preview Font Profile API Endpoint",
                "description": "This API endpoint allows a user to preview an existing font profile.\nThe necessary parameters must be provided in the request query params.",
                "parameters": [{
                    "name": "font_profile_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully previews the font profile"
                    },
                    "400": {
                        "description": "Failed to preview the font profile or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/supported_languages/": {
            "get": {
                "operationId": "api_supported_languages_list",
                "description": "Get supported Whisper ASR languages",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved languages"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/supported_resolutions/": {
            "get": {
                "operationId": "api_supported_resolutions_list",
                "description": "Get supported resolutions",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved supported resolutions"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/supported_tts_providers/": {
            "get": {
                "operationId": "api_supported_tts_providers_list",
                "description": "Get supported Text-To-Speech providers",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved supported Text-To-Speech providers"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/update_user_email/": {
            "put": {
                "operationId": "api_update_user_email_update",
                "summary": "Update User Email API Endpoint",
                "description": "This API endpoint allows a user to update their email address.\nThe necessary parameters (email_address, secret_key, and new_email_address) must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/UpdateUserEmail"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully updated email"
                    },
                    "400": {
                        "description": "Failed to update email or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/update_user_password/": {
            "put": {
                "operationId": "api_update_user_password_update",
                "summary": "Update User Password API Endpoint",
                "description": "This API endpoint allows a user to update their password.\nThe necessary parameters (email_address, secret_key, and new_password) must be provided in the request payload.",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/UpdateUserPassword"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successfully updated password"
                    },
                    "400": {
                        "description": "Failed to update password or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/view_analytic/": {
            "get": {
                "operationId": "api_view_analytic_list",
                "summary": "View Analytic API Endpoint",
                "description": "This API endpoint allows a user to view an existing analytic record.\nThe necessary parameters must be provided in the query string.",
                "parameters": [{
                    "name": "analytic_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved analytic"
                    },
                    "400": {
                        "description": "Failed to retrieve analytic or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/view_channel/": {
            "get": {
                "operationId": "api_view_channel_list",
                "summary": "View Channel API Endpoint",
                "description": "This API endpoint allows a user to view the details of an existing channel.\nThe necessary parameters must be provided in the query parameters.",
                "parameters": [{
                    "name": "channel_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully fetched the channel details"
                    },
                    "400": {
                        "description": "Failed to fetch the channel details or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/view_channel_analytics/": {
            "get": {
                "operationId": "api_view_channel_analytics_list",
                "summary": "View Channel Analytics API Endpoint",
                "description": "This API endpoint allows a user to view analytics data related to a channel.\nThe necessary parameters must be provided in the query string.",
                "parameters": [{
                    "name": "channel_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved channel analytics"
                    },
                    "400": {
                        "description": "Failed to retrieve channel analytics or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/view_content_type/": {
            "get": {
                "operationId": "api_view_content_type_list",
                "summary": "View Content Type API Endpoint",
                "description": "This API endpoint allows a user to view details of an existing content type.\nThe necessary parameters must be provided in the query parameters.\n\nQuery Parameters:\n- content_type_id (int): The ID of the content type to be retrieved",
                "parameters": [{
                    "name": "content_type_id",
                    "in": "query",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the content type"
                    },
                    "400": {
                        "description": "Failed to retrieve the content type or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/view_content_types/": {
            "get": {
                "operationId": "api_view_content_types_list",
                "summary": "View Content Types API Endpoint",
                "description": "This API endpoint allows a user to view details of all existing content types.\nThe necessary parameters must be provided in the query parameters.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the content types"
                    },
                    "400": {
                        "description": "Failed to retrieve the content types or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/view_user_channels/": {
            "get": {
                "operationId": "api_view_user_channels_list",
                "summary": "View User Channels API Endpoint",
                "description": "This API endpoint allows a user to view all the channels associated with them.\nThe necessary parameters must be provided in the query parameters.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully fetched the channels for the user"
                    },
                    "400": {
                        "description": "Failed to fetch the channels or validation errors"
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/dev/asr/diarized-whisper": {
            "post": {
                "operationId": "dev_asr_diarized-whisper_create",
                "description": "",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "dev"
                ]
            },
            "parameters": []
        },
        "/dev/asr/distil-whisper": {
            "post": {
                "operationId": "dev_asr_distil-whisper_create",
                "description": "",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "dev"
                ]
            },
            "parameters": []
        },
        "/dev/asr/faster-whisper": {
            "post": {
                "operationId": "dev_asr_faster-whisper_create",
                "description": "",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "dev"
                ]
            },
            "parameters": []
        },
        "/download/{provider}/{file_name}": {
            "get": {
                "operationId": "download_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "download"
                ]
            },
            "parameters": [{
                    "name": "provider",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "file_name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/stripe/customer_portal_session": {
            "post": {
                "operationId": "stripe_customer_portal_session_create",
                "description": "",
                "parameters": [{
                    "name": "data",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CustomerPortalCreation"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Successfully generated customer portal URL."
                    },
                    "400": {
                        "description": "Customer portal URL generation failed or validation errors"
                    }
                },
                "tags": [
                    "stripe"
                ]
            },
            "parameters": []
        },
        "/stripe/webhook": {
            "post": {
                "operationId": "stripe_webhook_create",
                "description": "",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "stripe"
                ]
            },
            "parameters": []
        },
        "/waitlist/entry": {
            "post": {
                "operationId": "waitlist_entry_create",
                "description": "",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "waitlist"
                ]
            },
            "parameters": []
        }
    },
    "definitions": {
        "AnalyticCreation": {
            "required": [
                "channel_id",
                "total_views",
                "total_subs"
            ],
            "type": "object",
            "properties": {
                "channel_id": {
                    "title": "Channel id",
                    "type": "integer"
                },
                "total_views": {
                    "title": "Total views",
                    "type": "integer"
                },
                "total_subs": {
                    "title": "Total subs",
                    "type": "integer"
                }
            }
        },
        "ChannelCreation": {
            "required": [
                "channel_country",
                "channel_url",
                "channel_name",
                "channel_website",
                "channel_content_category",
                "estimated_monthly_earnings",
                "estimated_yearly_earnings"
            ],
            "type": "object",
            "properties": {
                "channel_country": {
                    "title": "Channel country",
                    "type": "string",
                    "minLength": 1
                },
                "channel_url": {
                    "title": "Channel url",
                    "type": "string",
                    "format": "uri",
                    "minLength": 1
                },
                "channel_name": {
                    "title": "Channel name",
                    "type": "string",
                    "minLength": 1
                },
                "channel_website": {
                    "title": "Channel website",
                    "type": "string",
                    "format": "uri",
                    "minLength": 1
                },
                "channel_content_category": {
                    "title": "Channel content category",
                    "type": "string",
                    "minLength": 1
                },
                "estimated_monthly_earnings": {
                    "title": "Estimated monthly earnings",
                    "type": "string",
                    "minLength": 1
                },
                "estimated_yearly_earnings": {
                    "title": "Estimated yearly earnings",
                    "type": "string",
                    "minLength": 1
                }
            }
        },
        "ContentTypeCreation": {
            "required": [
                "content_type_name",
                "content_type_identifier",
                "content_type_description",
                "content_type_image",
                "content_type_preview",
                "active"
            ],
            "type": "object",
            "properties": {
                "content_type_name": {
                    "title": "Content type name",
                    "type": "string",
                    "minLength": 1
                },
                "content_type_identifier": {
                    "title": "Content type identifier",
                    "type": "string",
                    "minLength": 1
                },
                "content_type_description": {
                    "title": "Content type description",
                    "type": "string",
                    "minLength": 1
                },
                "content_type_image": {
                    "title": "Content type image",
                    "type": "string",
                    "format": "uri",
                    "minLength": 1
                },
                "content_type_preview": {
                    "title": "Content type preview",
                    "type": "string",
                    "format": "uri",
                    "minLength": 1
                },
                "active": {
                    "title": "Active",
                    "type": "boolean"
                }
            }
        },
        "CreateFontProfile": {
            "required": [
                "profile_name",
                "font_path",
                "font_size",
                "font_bold",
                "font_italic",
                "font_underlined",
                "font_strikethrough",
                "caption_position",
                "caption_style_color",
                "caption_style_stroke_color",
                "caption_style_stroke_thickness",
                "caption_shadow_x_pos",
                "caption_shadow_y_pos",
                "caption_shadow_color",
                "caption_shadow_blur",
                "caption_lines",
                "caption_ai_keyword_highlighter",
                "caption_ai_keyword_highlighter_color",
                "caption_highlighter",
                "caption_highlighter_color",
                "preview_url"
            ],
            "type": "object",
            "properties": {
                "profile_name": {
                    "title": "Profile name",
                    "type": "string",
                    "minLength": 1
                },
                "font_path": {
                    "title": "Font path",
                    "type": "string",
                    "enum": [
                        "",
                        "local_files/fonts/BalderLL.ttf",
                        "local_files/fonts/Bangers-Regular.ttf",
                        "local_files/fonts/Fontspring-DEMO-FoundationSans-Black.otf",
                        "local_files/fonts/Geologica_Cursive-Black.ttf",
                        "local_files/fonts/Poppins-Black.ttf",
                        "local_files/fonts/RationalDisplay-Black.ttf",
                        "local_files/fonts/RationalDisplay-Bold.ttf",
                        "local_files/fonts/RationalDisplay-ExtraBold.ttf",
                        "local_files/fonts/Sequel Sans Bold Body.ttf",
                        "local_files/fonts/Sequel Sans Medium Body.ttf"
                    ]
                },
                "font_size": {
                    "title": "Font size",
                    "type": "string",
                    "minLength": 1
                },
                "font_bold": {
                    "title": "Font bold",
                    "type": "boolean"
                },
                "font_italic": {
                    "title": "Font italic",
                    "type": "boolean"
                },
                "font_underlined": {
                    "title": "Font underlined",
                    "type": "boolean"
                },
                "font_strikethrough": {
                    "title": "Font strikethrough",
                    "type": "boolean"
                },
                "caption_position": {
                    "title": "Caption position",
                    "type": "integer"
                },
                "caption_style_color": {
                    "title": "Caption style color",
                    "type": "string",
                    "minLength": 1
                },
                "caption_style_stroke_color": {
                    "title": "Caption style stroke color",
                    "type": "string",
                    "minLength": 1
                },
                "caption_style_stroke_thickness": {
                    "title": "Caption style stroke thickness",
                    "type": "integer"
                },
                "caption_shadow_x_pos": {
                    "title": "Caption shadow x pos",
                    "type": "integer"
                },
                "caption_shadow_y_pos": {
                    "title": "Caption shadow y pos",
                    "type": "integer"
                },
                "caption_shadow_color": {
                    "title": "Caption shadow color",
                    "type": "string",
                    "minLength": 1
                },
                "caption_shadow_blur": {
                    "title": "Caption shadow blur",
                    "type": "integer"
                },
                "caption_lines": {
                    "title": "Caption lines",
                    "type": "integer"
                },
                "caption_ai_keyword_highlighter": {
                    "title": "Caption ai keyword highlighter",
                    "type": "boolean"
                },
                "caption_ai_keyword_highlighter_color": {
                    "title": "Caption ai keyword highlighter color",
                    "type": "string",
                    "minLength": 1
                },
                "caption_highlighter": {
                    "title": "Caption highlighter",
                    "type": "boolean"
                },
                "caption_highlighter_color": {
                    "title": "Caption highlighter color",
                    "type": "string",
                    "minLength": 1
                },
                "preview_url": {
                    "title": "Preview url",
                    "type": "string",
                    "minLength": 1
                }
            }
        },
        "CreateInputAudio": {
            "required": [
                "file_path"
            ],
            "type": "object",
            "properties": {
                "file_path": {
                    "title": "File path",
                    "type": "string",
                    "enum": [
                        "",
                        "local_files/audios/02789d243479f71ae3bb2122219fdb04.aac",
                        "local_files/audios/0957bdd3eae6055a19e89646164377a5.aac",
                        "local_files/audios/0cd791f534eb0254f8e0382b3a221650.aac",
                        "local_files/audios/0eda8e4d068ed2a1a4990bd64b0b4f71.aac",
                        "local_files/audios/10c0d96d099526490d3b890e820b0d93.aac",
                        "local_files/audios/156fa3e4dcc6cbbb1d50c1f544d9ee2e.opus",
                        "local_files/audios/1aa5b172ae173d0389da13c3125fd8cb.aac",
                        "local_files/audios/1d5297533a0997ee566410f2170c58d5.aac",
                        "local_files/audios/1fd63e44179ba2026543755a24599b75.aac",
                        "local_files/audios/20c8e3687de31540ecf8858e8bf606bc.aac",
                        "local_files/audios/21af1d488a0e26d7b240a03626d36a48.aac",
                        "local_files/audios/224ed618afaf5bc20517125e5b0c8a70.aac",
                        "local_files/audios/24c58de2bab8da461518ffc26b2dad25.aac",
                        "local_files/audios/27c6656056e860825725fbad58140c48.aac",
                        "local_files/audios/286501f5720c5264e9f05a9cf96d762d.aac",
                        "local_files/audios/290105a58bf25c5e4dae0d425fef06c3.aac",
                        "local_files/audios/2db13f21e4065ce2d5c857a3d898aa00.aac",
                        "local_files/audios/2de476c222789ce48a470d0f7b0697e0.aac",
                        "local_files/audios/31ad8d630d26fca7473916e3002ccb1a.aac",
                        "local_files/audios/35b327b46b46ed1ea97912a38a166576.aac",
                        "local_files/audios/3775de161cebce8ceffe4ca69dcd42cb.aac",
                        "local_files/audios/37b40f6367593a0fcda4f0a2455ce43c.aac",
                        "local_files/audios/3ee3683ab214f4d36dd527185a7e7e1b.aac",
                        "local_files/audios/430d38416fc47380624b8f56d0305bbc.aac",
                        "local_files/audios/4351d04ff86d009a0fe7fbfc525e4c7c.aac",
                        "local_files/audios/477786973336df062be4a5eca4f71d18.aac",
                        "local_files/audios/4dd5ba38bfc5e830e225b6e29c38752a.aac",
                        "local_files/audios/51feb9695d7e7b9d90d8484fc5fba83a.aac",
                        "local_files/audios/55730bd1e962b8bf5e9c9b81fb16aca4.aac",
                        "local_files/audios/56dd34ca9269a7d19d3a6531ad3ffa67.aac",
                        "local_files/audios/6080fe3a5d3706ff18d8b48a9ab2494b.aac",
                        "local_files/audios/6971cc04d4ea38563b23e85c8b8dffc6.aac",
                        "local_files/audios/6c64cc77c6fc9d34df3f5dd233e34cbb.aac",
                        "local_files/audios/703dd70a0310022d158fb88f0238b118.aac",
                        "local_files/audios/722e722f3619800d501e7e2c0129a5ff.aac",
                        "local_files/audios/72d2cf45ea243c6bc756a6e4f583a0ee.aac",
                        "local_files/audios/7ae3e6e33e274e474c91c79edaf74af8.aac",
                        "local_files/audios/7de8dd7addfeea3d64428320f849b2ed.aac",
                        "local_files/audios/80b414a540aec7fcfe5b4bc4474d9ea7.opus",
                        "local_files/audios/81aa537032bb52c8941ed0352612abf5.opus",
                        "local_files/audios/86fa2be36b3944ff2ad20377fd997b06.aac",
                        "local_files/audios/8a4a0dad926b13baafdcc973ef35330b.aac",
                        "local_files/audios/8aea836b69d7ff41064b6f78e0dad519.opus",
                        "local_files/audios/8b71ab137a2689fc46c6441cb748f76e.aac",
                        "local_files/audios/8ea6f9151795ca0a07ae128a0b9792dc.aac",
                        "local_files/audios/90b7d0911143e146370353761ef656fd.aac",
                        "local_files/audios/93cbe6e6fb6c2dbe954d575e8877b474.aac",
                        "local_files/audios/97169ace53796baa7749e40ffcf66281.aac",
                        "local_files/audios/9b4fae2861b9158540eae3f0a4edeae6.aac",
                        "local_files/audios/9d121ea4d898efd2b2e0287c2ff019da.opus",
                        "local_files/audios/9d6174119e36abe27a78e4f07df6eaf3.aac",
                        "local_files/audios/a6f3c5ecd1046efc380cc1fd4252dc56.aac",
                        "local_files/audios/ab63fdf85cfce0b3b6203d470802e6e9.aac",
                        "local_files/audios/ab7493b556c99a4d9c9fa3459782ae58.aac",
                        "local_files/audios/aca89e7bdad57233eaf3ed3ae2303ed1.aac",
                        "local_files/audios/b293c80a4f7d83d17ffc695b47ad93b2.aac",
                        "local_files/audios/bad68b5108b9fd3568d7017812df9b28.aac",
                        "local_files/audios/bf454e25d80cad4794c1a0845e02007a.aac",
                        "local_files/audios/bf88f11795c7ab6ea63b3734d5916a19.aac",
                        "local_files/audios/bf8b0217d1f882a46cf331da73c54e17.opus",
                        "local_files/audios/c300a517adc38e97fdd8dd6b410ef0a2.aac",
                        "local_files/audios/c5825125329c9de8e12a6d311eaf2dda.aac",
                        "local_files/audios/c8bf21615de412b70be1b20a4b98ef90.aac",
                        "local_files/audios/c96432caad3844ae5f736b27d5223bc0.aac",
                        "local_files/audios/ce7492bd4e1b70614ddd29572b4d6d50.aac",
                        "local_files/audios/d0adb5c1fda2a5cd49b7b7da22fcc37f.aac",
                        "local_files/audios/d630235add62b377fcc0732d7f0f2523.aac",
                        "local_files/audios/d6597ba24a4f7c424b533269e736be7f.aac",
                        "local_files/audios/d83404212c4e820b690bf9c1d901ee2c.aac",
                        "local_files/audios/e78ea038db161a0f11529b5ead8f9fc2.aac",
                        "local_files/audios/e949a05c974df04a0cd3a403ac8753b7.aac",
                        "local_files/audios/ea0dfbda62197aa8ec40b70338952f94.opus",
                        "local_files/audios/ec68bca0e46d941b86d5c046ef5e06ab.aac",
                        "local_files/audios/f09da05c0abfe64d4e091c5da477e3a9.aac",
                        "local_files/audios/f23f065e7bc3f95241e67ec16c905eec.aac",
                        "local_files/audios/f7c7df6139cf4ba55671e7f01ded4f1e.aac",
                        "local_files/audios/fa36a98c2ddc6b72dd5fa0eddc23372e.aac",
                        "local_files/audios/fe8abcc1814dfdff5ce9aca0b7969ba2.aac",
                        "local_files/audios/ffcbe3d55875147140ecc0951b70a7d0.aac",
                        "local_files/audios/placeholder.mp3"
                    ]
                },
                "transcription": {
                    "title": "Transcription",
                    "type": "string",
                    "minLength": 1
                }
            }
        },
        "CreateInputVideo": {
            "required": [
                "video_title",
                "audio_id",
                "file_path",
                "preview_url"
            ],
            "type": "object",
            "properties": {
                "video_title": {
                    "title": "Video title",
                    "type": "string",
                    "minLength": 1
                },
                "audio_id": {
                    "title": "Audio id",
                    "type": "integer"
                },
                "file_path": {
                    "title": "File path",
                    "type": "string",
                    "enum": [
                        "",
                        "local_files/videos/01ec13c7b7c6099e9d1ac28844fc8a16.mp4",
                        "local_files/videos/02a9e6f4063538e9a4d1d45b04751203.mp4",
                        "local_files/videos/03a097618add253e6ed000d6cd941b71.mp4",
                        "local_files/videos/04252689ccee817887876a84eb57ca5f.mp4",
                        "local_files/videos/0502ea2a86f3449463ea3a7efdcddb2e.mp4",
                        "local_files/videos/052f418955e318178719d70f5257e24d.mp4",
                        "local_files/videos/0595cc780721ecb6a1dda6f92f5bb57d.mp4",
                        "local_files/videos/07adc34a7f1b85bf92b5f14cffebb692.mp4",
                        "local_files/videos/0adc5d6503159c220ec39962267392b0.mp4",
                        "local_files/videos/0ce796c6c3d416d96bea766c9ba51b96.mp4",
                        "local_files/videos/0d842b16ed358a82ffecc5f981b14412.mp4",
                        "local_files/videos/0e9cbe42ba91531c1a765ef93ee1b2cb.mp4",
                        "local_files/videos/0f5eeecf1f13827b8d7085c02bbce4e4.mp4",
                        "local_files/videos/0fed01b8fe618e8cac86f3b1d82a0452.mp4",
                        "local_files/videos/13a129a11a1ebf07542c9edf10c999f1.mp4",
                        "local_files/videos/13ed31e0ab6e2f51f0f6d8bad99a9c06.mp4",
                        "local_files/videos/1789f45a1166876631708afa16f2fb6a.mp4",
                        "local_files/videos/17e4254894bf47e62cae2051e32787a5.mp4",
                        "local_files/videos/1844c79c839dc2b482247e7fed513ce1.mp4",
                        "local_files/videos/19289f9f7899145ef269330c8ee30d6a.mp4",
                        "local_files/videos/19b24056d82403d115d10b22efb71930.mp4",
                        "local_files/videos/1a8c06272c094d39ff948bcdb1af23d0.mp4",
                        "local_files/videos/1adfd77f0b98dc5ac680f1e6c8927ba4.mp4",
                        "local_files/videos/1cabbd30135c2a88447f57785e8c2230.mp4",
                        "local_files/videos/1d34f6a1165046b24ea836eb57449e0f.mp4",
                        "local_files/videos/1d6b06e1fcf886af6fa4f57930760e24.mp4",
                        "local_files/videos/1dc571b8d6846dad6533c5ab86844fef.mp4",
                        "local_files/videos/1e4cdcb7b7a448183e97d69130fa1928.mp4",
                        "local_files/videos/20304f7c98ecaf2ef7c4f3a6b7b14430.mp4",
                        "local_files/videos/23ea6ca6120b581c82d1a86c58de62b0.mp4",
                        "local_files/videos/2480ff27b434724ff5e3f09c2d5fb17c.mp4",
                        "local_files/videos/27224e12a739dbc5dd90c8f9c48582d6.mp4",
                        "local_files/videos/272eb63adc9c759e63cd68ae00e3bf74.mp4",
                        "local_files/videos/2812111393123b68575ae2e1ff13d149.mp4",
                        "local_files/videos/289f2ad587a6be8898f1d2765a91017a.mp4",
                        "local_files/videos/29294ab3f2bfeb00b20c9060b70184c4.mp4",
                        "local_files/videos/2aa868f92948ff48bd4d1fe3d54db908.mp4",
                        "local_files/videos/2aace0d9303c17d20f0f9a089af7026e.mp4",
                        "local_files/videos/2b686d9f355bc1a3f5ce02549370b8b9.mp4",
                        "local_files/videos/2f9dc59366eede1529b2243e0a1083a3.mp4",
                        "local_files/videos/2fab7ed9e57cb1a27a857e98130f0bf6.mp4",
                        "local_files/videos/3067e4ce1720327bc8bcbf03e72e67f6.mp4",
                        "local_files/videos/30769a69bb1cf18caeff5376c7f8a5d1.mp4",
                        "local_files/videos/30864883e392a3089f3dbfc31a91a4f4.mp4",
                        "local_files/videos/30a89236f76539a015cc1d577e645b4c.mp4",
                        "local_files/videos/31bedba0c55ef6a06f82d2da4bfbd43c.mp4",
                        "local_files/videos/32dc03f545653b77baebab5a3fcb95ab.mp4",
                        "local_files/videos/3896decb566237dafd1ed71093989e17.mp4",
                        "local_files/videos/38f40051b8ddea784ecf329bff46b012.mp4",
                        "local_files/videos/3a31c1fbb4b65efb095c26448e374d75.mp4",
                        "local_files/videos/3a762bb435676b67a7d0890d438f87fc.mp4",
                        "local_files/videos/3be1f0eec1c396748578854d47a1ba30.mp4",
                        "local_files/videos/3ca0efaa6b962e6bd92cc0bc8222a275.mp4",
                        "local_files/videos/3ccff55ebd70725d7479bac180604e3c.mp4",
                        "local_files/videos/3d2978dd7f20ece4cb1195d9e5a80bb3.mp4",
                        "local_files/videos/3d9167b0b11d560509061c6e4043026d.mp4",
                        "local_files/videos/3f77118df08418c1db13c416bd15022f.mp4",
                        "local_files/videos/412380d444a76434a657be9e2ea8f111.mp4",
                        "local_files/videos/43189f6b6a30bc36c99f9b4239f66bf1.mp4",
                        "local_files/videos/468b251b59ca08dd28ac65825c3aade7.mp4",
                        "local_files/videos/46a9d15ac33e6767795b21f1ee6edf18.mp4",
                        "local_files/videos/48541eb10d5fedf44c22cf1a8fb79270.mp4",
                        "local_files/videos/48719537152f796f6a3db5fd1f89c806.mp4",
                        "local_files/videos/48c0871e872d7bdd53a99bcaf7bc1896.mp4",
                        "local_files/videos/4999a19437aa35930b8ede7ef0c79d88.mp4",
                        "local_files/videos/49f2f16a2483c990c38f5d313addb32a.mp4",
                        "local_files/videos/4a8cd78842081c8af35a6c57d81bd204.mp4",
                        "local_files/videos/4f5b578878bffc1935fa57a4f94adfeb.mp4",
                        "local_files/videos/50e626de10fe3ca30d3c71a64e66e639.mp4",
                        "local_files/videos/517e7d1afd5a993a58c6227b24775fa2.mp4",
                        "local_files/videos/54ef44747ac182eb8cadb18c47ab1153.mp4",
                        "local_files/videos/5893703d2832a85e1b027d3bde8b56df.mp4",
                        "local_files/videos/5bb1fdc2cd7ebdf084df80a06ced321f.mp4",
                        "local_files/videos/5bbfb4b45dfff6f5ddc4c99f527af555.mp4",
                        "local_files/videos/5cab7483fcadbbec4260b6175c32a8c1.mp4",
                        "local_files/videos/5d832ecb8679cb9b5589b9f26cedffca.mp4",
                        "local_files/videos/61afc5c8711e6231456013e1ce9e97d0.mp4",
                        "local_files/videos/65297d5a10a75f54b37eb4bc3af316f7.mp4",
                        "local_files/videos/65aa9e0e5b955fd665726ed0a7486bbb.mp4",
                        "local_files/videos/69baa92fb68b82317ff9442271619b83.mp4",
                        "local_files/videos/69e843fbd971e75b3e0104ffe4205a5e.mp4",
                        "local_files/videos/6bdd785c521f6b191bf30a410411863a.mp4",
                        "local_files/videos/6e99672bf1d7a77dff58a602c8b23497.mp4",
                        "local_files/videos/6f6c23adffeeafa3011c5e4e132d4947.mp4",
                        "local_files/videos/700994765e888aeb7afe6cc53dc50619.mp4",
                        "local_files/videos/702f91dcdd163e5b3704e5d4c8ea5e13.mp4",
                        "local_files/videos/70f7b069bb472e89ad9aa78c50921dc4.mp4",
                        "local_files/videos/71c98aa169d29e516c305b315f311d6e.mp4",
                        "local_files/videos/73331e64478722713e72fb235abb9ba1.mp4",
                        "local_files/videos/74886b23313d68450553659a16ab0b57.mp4",
                        "local_files/videos/754c0b2dd50edd8d785f883f696a63fe.mp4",
                        "local_files/videos/758f661de9492e99b26224b5b483b0bc.mp4",
                        "local_files/videos/78a0ecdbf07e460f54149c91eb8e4561.mp4",
                        "local_files/videos/7ad1f0afac8033355b4ce32bfc3c1ef1.mp4",
                        "local_files/videos/7d7f070b4d64e0a4baeba5cb8a8de30d.mp4",
                        "local_files/videos/7e8718115243605ea9cacf67bb15edde.mp4",
                        "local_files/videos/801fe79b10063f87f10ad78cf2f09ad1.mp4",
                        "local_files/videos/80447ed4a1dffd861dae92e7a21f8a71.mp4",
                        "local_files/videos/80abe968267d56504a3f624aa46ae739.mp4",
                        "local_files/videos/81194f066b6aa13e8b704078a94822b9.mp4",
                        "local_files/videos/82bea2ae8354fa35c514347411f9c9e3.mp4",
                        "local_files/videos/834bdb310fa7dc60cbfada55d8020424.mp4",
                        "local_files/videos/878404ce47fb0ab1c3717302a17465eb.mp4",
                        "local_files/videos/89d80bc673602f0ce61fc66cad053d36.mp4",
                        "local_files/videos/8b57c6776e850ac4630a3f660140685c.mp4",
                        "local_files/videos/8b88c0fb1a8bac905c0d94e22c06ebbd.mp4",
                        "local_files/videos/8d7b50bc7b9f7469559d0c1235c4280d.mp4",
                        "local_files/videos/8e57276f51eb643116ace99c0d0f3164.mp4",
                        "local_files/videos/90823f9b3dfc31ffe00601177d6f3374.mp4",
                        "local_files/videos/90de20ba163f3c0ba91af1e8c1e015f5.mp4",
                        "local_files/videos/921c41a62164a5a4942dd0888d03c266.mp4",
                        "local_files/videos/930955c1807deff65372ec1edd92423b.mp4",
                        "local_files/videos/97072c53122abf89150bdeb676dbecd5.mp4",
                        "local_files/videos/97225976fc19f6ce2b435093a01736b6.mp4",
                        "local_files/videos/978f0b11b2f5bba6bc069dc0b9c2f859.mp4",
                        "local_files/videos/9bb11071663913ec65b0040ebf79990a.mp4",
                        "local_files/videos/9c40cf2fdc73391c492089d57b8eef89.mp4",
                        "local_files/videos/9d4cd0dc5b16d1bb590fe26e4aa5fd8c.mp4",
                        "local_files/videos/a16b5710e78d2ab79cbc623bda922700.mp4",
                        "local_files/videos/a5a65641bf692c1e4148b6d442c2eacc.mp4",
                        "local_files/videos/a5cce17928a2887e3d6f7d4e05af8c6a.mp4",
                        "local_files/videos/a6be8c43843deefefece8f9418007831.mp4",
                        "local_files/videos/a89a8cd0c3381b4992ea94ccf1548ef8.mp4",
                        "local_files/videos/aa61159b5568acfb709d686a9e787c2f.mp4",
                        "local_files/videos/abfd1afdab7f287c5ed2aa0978a21b6a.mp4",
                        "local_files/videos/ad89b17cfb05eeaf723f6a5288035d62.mp4",
                        "local_files/videos/adf394d4d54973c82797ce0b098e8b51.mp4",
                        "local_files/videos/af0556a13947dbbe765106a7a4b0da5d.mp4",
                        "local_files/videos/afd521aba6c6b3078cea12f474a63c65.mp4",
                        "local_files/videos/b03974a7f6c0035040313f5dc1f79835.mp4",
                        "local_files/videos/b115e5826efc0e93b92b9803ebf987e7.mp4",
                        "local_files/videos/b1709dd2e07987331130c0c6f106cb86.mp4",
                        "local_files/videos/b317a588946de9c62d888cb19efe7555.mp4",
                        "local_files/videos/b4fc6a9efd9a35681fbc5b85646ca323.mp4",
                        "local_files/videos/b75cf86169e6327695e6184072e7b723.mp4",
                        "local_files/videos/b90ad065acc6583019858ac616793a37.mp4",
                        "local_files/videos/b94bfc5eec5d52cffdb1ec94b8a2bcf0.mp4",
                        "local_files/videos/b9cdde3bc38a3a64d2dea36d1bb72f96.mp4",
                        "local_files/videos/bc0a81ef02f6733c89b9a968329bc119.mp4",
                        "local_files/videos/bc10e0be46e3c6f0a2b7238455974b5f.mp4",
                        "local_files/videos/bc176a59b2835346e7cf891868006d01.mp4",
                        "local_files/videos/be09eef58b8f1cff106c485116afee9b.mp4",
                        "local_files/videos/c1b265a9d2fe1af8a08e35d2e32b0d77.mp4",
                        "local_files/videos/c2c2a91acd2f7eff7a6b2a6a59e54ab6.mp4",
                        "local_files/videos/c3945d5729648cd7abc73807fa00d472.mp4",
                        "local_files/videos/c3d94f77dd8352a0ff1fc7117a1e3e77.mp4",
                        "local_files/videos/c4bcc11b4573cdedc42a529f08ec1af2.mp4",
                        "local_files/videos/c51d25292a876c115ea420a2b44ff246.mp4",
                        "local_files/videos/c52b21e2a4957fceadd6bab08e2c7c01.mp4",
                        "local_files/videos/c553fc44a85a01aad74dd89a144eb858.mp4",
                        "local_files/videos/c9eba4616332f1638b6a443c486991a9.mp4",
                        "local_files/videos/ca2972136d5fb7ec9ea8d874e0a4f479.mp4",
                        "local_files/videos/cc782c46e040e17fc2b3c2fed9fb1ee3.mp4",
                        "local_files/videos/cf4bcc48390133abcc6546998451addc.mp4",
                        "local_files/videos/d1baab0f687107e516e2884eaa4f9799.mp4",
                        "local_files/videos/d298414f642da5c6ac13a03adc41fbe2.mp4",
                        "local_files/videos/db1dd544f2024d6625e226753ed0355f.mp4",
                        "local_files/videos/dba8c27cf0b70f95fff0f1d5fb06ecc5.mp4",
                        "local_files/videos/dce03f6a395354d1d76dbd4b3fd2a5ca.mp4",
                        "local_files/videos/ddeed52552a8b0eaba6b1b23346a168d.mp4",
[...]
